body {
    .navbar {
        input {
            &.header-search-input {
            }
        }

        .sideNav-lock {
            .header-search-wrapper {
                width: calc(100% - 300px);
                margin: 10px auto 0 10px;
            }
        }
    }

    .app-email {
        .content-area {
            .file {
                font-size: 0.9rem;
                float: left;
                margin-right: 5px;

                img {
                    max-width: 250px;
                }
            }

            .delete-task {
                float: right;
            }
        }
    }

    .app-email-content {
        .content-area {
            .app-wrapper {
                .email-footer {
                    .footer-action {
                        .attachment-list {
                            .attachment {
                                .attached-image {
                                    max-width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    /* user list css */
    /*--------------*/
    /* user view css*/
    /*-------------*/
    /* user edit css*/
    /*-------------*/
    .users-list-wrapper {
        i {
            vertical-align: middle;
        }

        .users-list-filter {
            .show-btn {
                padding-top: 43px !important;
            }
        }

        .users-list-table {
            overflow: hidden;

            .dataTables_filter {
                label {
                    input {
                        width: auto;
                        height: auto;
                        margin-left: .5rem;
                    }
                }
            }

            .dataTables_length {
                label {
                    select {
                        display: inline-block;
                        width: auto;
                        height: auto;
                    }
                }
            }

            .dataTable {
                border-collapse: collapse;

                th {
                    width: auto !important;
                    padding: 19px 15px;
                    border-bottom: 1px solid #e0e0e0;
                }

                tbody {
                    td {
                        padding: .8rem .8rem;
                    }
                }
            }

            .dataTables_paginate {
                .paginate_button {
                    margin-top: .25rem;
                    padding: .25em .65em;

                    &:hover {
                        color: white !important;
                        border: 1px solid #3f51b5;
                        border-radius: 4px;
                        background: #3f51b5;
                        box-shadow: 0 0 8px 0 #3f51b5;
                    }
                }

                .paginate_button.current {
                    color: white !important;
                    border: 1px solid #3f51b5;
                    border-radius: 4px;
                    background: #3f51b5;
                    box-shadow: 0 0 8px 0 #3f51b5;
                }
            }
        }
    }

    .users-view {
        i {
            vertical-align: middle;
        }

        .media {
            .avatar {
                margin-right: .6rem;
            }

            .users-view-name {
                font-size: 1.47rem;
            }
        }

        .quick-action-btns {
            a {
                margin-left: 1rem;
            }
        }

        .users-view-timeline {
            padding: 2rem;

            h6 {
                span {
                    font-size: 2rem;
                    vertical-align: middle;
                }
            }
        }

        .striped {
            td {
                &:first-child {
                    width: 140px;
                }
            }
        }
    }

    .users-edit {
        i {
            vertical-align: middle;
        }

        .tabs {
            .tab {
                a {
                    text-overflow: clip;

                    span {
                        position: relative;
                        top: 2px;
                    }
                }

                a.active {
                    border-radius: 4px;
                    background-color: #e8eaf6;
                }
            }
        }

        .user-edit-btns {
            a {
                margin-right: 1rem;
            }
        }

        form {
            button[type='submit'] {
                margin-right: 1rem;
            }
        }
    }

    @media (max-width: 600px) {
        .users-view-timeline {
            h6 {
                text-align: center;
            }
        }

        .users-view {
            .media {
                margin-bottom: .5rem;

                .media-heading {
                    display: -webkit-box;
                    display: -webkit-flex;
                    display: -ms-flexbox;
                    display: flex;

                    .users-view-name {
                        font-size: 1.2rem;
                    }

                    .users-view-username {
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}

#main {
    padding-left: 0;

    .w-100px {
        width: 100px !important;
    }

    .w-200px {
        width: 200px !important;
    }

    .w-300px {
        width: 300px !important;
    }

    .content-wrapper-before {
        top: 0;
    }
}