body .hide {
  display: none; }

body .preview-area {
  width: 200px; }

body img.img-preview {
  width: 100%;
  height: auto; }

body #progress-wrp {
  border: 1px solid #0099CC;
  padding: 1px;
  position: relative;
  border-radius: 3px;
  margin: 10px;
  text-align: left;
  background: #fff;
  box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12); }
  body #progress-wrp .progress-bar {
    height: 20px;
    border-radius: 3px;
    background-color: #79f763;
    width: 0;
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11); }
  body #progress-wrp .status {
    top: 3px;
    left: 50%;
    position: absolute;
    display: inline-block;
    color: #000000; }

body .field-validation-error {
  font-size: .8rem;
  font-weight: 700;
  position: relative;
  top: 0rem;
  left: 0rem;
  -webkit-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  color: #ff4081; }

body .card .card-image {
  position: relative; }
  body .card .card-image .remove-file {
    position: absolute;
    right: 0;
    margin: 3px; }

body .success-message {
  font-size: 20px; }
