body {
    .hide {
        display: none;
    }

    .preview-area {
        width: 200px;
    }

    img.img-preview {
        width: 100%;
        height: auto;
    }

    #progress-wrp {
        border: 1px solid #0099CC;
        padding: 1px;
        position: relative;
        border-radius: 3px;
        margin: 10px;
        text-align: left;
        background: #fff;
        box-shadow: inset 1px 3px 6px rgba(0, 0, 0, 0.12);

        .progress-bar {
            height: 20px;
            border-radius: 3px;
            background-color: #79f763;
            width: 0;
            box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.11);
        }

        .status {
            top: 3px;
            left: 50%;
            position: absolute;
            display: inline-block;
            color: #000000;
        }
    }

    .field-validation-error {
        font-size: .8rem;
        font-weight: 700;
        position: relative;
        top: 0rem;
        left: 0rem;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        transform: translateY(0%);
        color: #ff4081;
    }

    .card {
        .card-image {
            position: relative;

            .remove-file {
                position: absolute;
                right: 0;
                margin: 3px;
            }
        }
    }

    .success-message {
        font-size: 20px;        
    }
}
