@page "/searchresult"
<div style="bottom: 54px; right: 19px;" class="fixed-action-btn direction-top">
    <a class="btn-floating btn-large primary-text gradient-shadow compose-email-trigger" href="#">
        <i class="material-icons">add</i>
    </a>
</div>