$as-color-content: #9e9e9e;
$as-color-header: rgb(107, 111, 130);

.as-content {
    cursor: pointer;

    .as-Title {
        color: $as-color-header;
        font-weight: 700;
    }

    .as-Description {
        padding-left: 35px;
        margin-top: .25rem;
        height: 39px;

        .input-description {
            color: $as-color-content;
            border: 0;
        }
    }

    .pd-left-20 {
        padding-left: 20px;
    }
}
.as-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.error-Text{
    color:red;
}