@page "/admin/submission/{id}/assignment"
@model StoryForce.Server.Pages.Admin.Submission.Assignment.IndexModel
@{
    ViewData["Title"] = "Assignment";
    Layout = "~/Pages/Shared/_SubLayout.cshtml";
    ViewData["SideBar-Title"] = "Assignment";
}
@section HeadScripts
{
    <link rel="stylesheet" href="/materialize-admin/app-assets/vendors/select2/select2.min.css" type="text/css">
    <link rel="stylesheet" href="/materialize-admin/app-assets/vendors/select2/select2-materialize.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/materialize-admin/app-assets/css/pages/form-select2.min.css">
    
    
    <!-- BEGIN: VENDOR CSS-->
  

    <link rel="stylesheet" type="text/css" href="/materialize-admin/app-assets/vendors/data-tables/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/materialize-admin/app-assets/vendors/data-tables/extensions/responsive/css/responsive.dataTables.min.css">
    <!-- END: VENDOR CSS-->
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="/materialize-admin/app-assets/css/themes/vertical-modern-menu-template/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="/materialize-admin/app-assets/css/themes/vertical-modern-menu-template/style.min.css">
    <link rel="stylesheet" type="text/css" href="/materialize-admin/app-assets/css/pages/app-sidebar.min.css">
    <link rel="stylesheet" type="text/css" href="/materialize-admin/app-assets/css/pages/app-contacts.min.css">
    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/materialize-admin/app-assets/css/custom/custom.css">
    <!-- END: Custom CSS-->
}
@section FooterScripts{
    <script src="/materialize-admin/app-assets/vendors/select2/select2.full.min.js"></script>
    <script src="/materialize-admin/app-assets/js/plugins.min.js"></script>
    <script src="/materialize-admin/app-assets/js/search.min.js"></script>
    <script src="/materialize-admin/app-assets/js/scripts/form-select2.min.js"></script>
   

    <!-- BEGIN PAGE VENDOR JS-->
    <script src="/materialize-admin/app-assets/vendors/data-tables/js/jquery.dataTables.min.js"></script>
    <script src="/materialize-admin/app-assets/vendors/data-tables/extensions/responsive/js/dataTables.responsive.min.js"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="/materialize-admin/app-assets/js/plugins.min.js"></script>
    <script src="/materialize-admin/app-assets/js/search.min.js"></script>
    <script src="/materialize-admin/app-assets/js/custom/custom-script.min.js"></script>
    <script src="/materialize-admin/app-assets/js/scripts/customizer.min.js"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="/materialize-admin/app-assets/js/scripts/app-contacts.min.js"></script>
    <!-- END PAGE LEVEL JS-->

    <script src="/js/Admin/Submission/Assignment/index-Assignment.js"></script>
}

<div class="input-field">
    <select class="select2 browser-default">
        <option></option>
        <option value="square">Square</option>
        <option value="rectangle">Rectangle</option>
        <option value="rombo">Rombo</option>
        <option value="romboid">Romboid</option>
        <option value="trapeze">Trapeze</option>
        <option value="traible">Triangle</option>
        <option value="polygon">Polygon</option>
    </select>
</div>


<div id="button-trigger" class="card card card-default scrollspy border-radius-6 fixed-width">
    <div class="card-content p-0">
        <table id="data-table-contact" class="display" style="width:100%">
            <thead>
                <tr>
                    <th class="background-image-none center-align">
                        <label>
                            <input type="checkbox" onClick="toggle(this)" />
                            <span></span>
                        </label>
                    </th>
                    <th>User</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Favorite</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-1.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>John</td>
                    <td>john@domain.com</td>
                    <td>202-555-0119</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-2.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Rodolfo</td>
                    <td>rodo@domain.com</td>
                    <td>202-555-0125</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-3.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Marco</td>
                    <td>marco@domain.com</td>
                    <td>202-555-0177</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-4.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Joshua</td>
                    <td>jos@domain.com</td>
                    <td>202-555-0126</td>
                    <td><span class="favorite"><i class="material-icons amber-text"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-4.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Gene</td>
                    <td>gene@domain.com</td>
                    <td>202-555-0130</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-5.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Oscar</td>
                    <td>oscar@domain.com</td>
                    <td>+1-202-555-0119</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-6.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>William</td>
                    <td>will@domain.com</td>
                    <td>+1-202-555-0125</td>
                    <td><span class="favorite"><i class="material-icons amber-text"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-7.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Dorian</td>
                    <td>dori@domain.com</td>
                    <td>202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-8.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Lester</td>
                    <td>les@domain.com</td>
                    <td>+1-202-555-0177</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-9.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Charles</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0126</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-1.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>William</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0130</td>
                    <td><span class="favorite"><i class="material-icons amber-text"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-11.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>John</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-12.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>John</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons amber-text"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-13.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>John</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-14.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Jake</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-15.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Jake</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-16.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Heather</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons amber-text"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-17.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Joanna</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons amber-text"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-1.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Joanna</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-2.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Cassandra</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-3.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Dolores</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-4.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Susan</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-5.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Susan</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-6.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Kathleen</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons amber-text"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-7.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Chief</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-8.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Walter</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-9.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Walter</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons amber-text"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-10.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Kathleen</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
                <tr>
                    <td class="center-align contact-checkbox">
                        <label class="checkbox-label">
                            <input type="checkbox" name="foo" />
                            <span></span>
                        </label>
                    </td>
                    <td>
                        <span class="avatar-contact avatar-online">
                            <img src="/materialize-admin/app-assets/images/avatar/avatar-11.png"
                                 alt="avatar">
                        </span>
                    </td>
                    <td>Terry</td>
                    <td>name@domain.com</td>
                    <td>+1-202-555-0112</td>
                    <td><span class="favorite"><i class="material-icons"> star_border </i></span></td>
                    <td><span><i class="material-icons delete">delete_outline</i></span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>