@page "/admin/submission/{id}/assignment"
@model StoryForce.Server.Pages.Admin.Submission.Assignment.IndexModel
@{
    ViewData["Title"] = "Assignment";
    Layout = "~/Pages/Shared/_SubLayout.cshtml";
}
<div>Tesst</div>