@page "Assignment"
@model StoryForce.Server.Pages.Admin.Submission.Assignment.IndexModel
@{
    ViewData["Title"] = "TEST";

}
<div class="app-email-content">
    <div class="content-area content-right">
        <div class="app-wrapper">
            <div class="app-search">
                <i class="material-icons mr-2 search-icon">search</i>
                <input type="text" placeholder="Search Mail" class="app-filter" id="email_filter">
            </div>
          
        </div>
    </div>
</div>