@page "/admin/submission/{id:int}/assignment"
@model StoryForce.Server.Pages.Admin.Submission.Assignment.AssignmentModel
@{
    ViewData["Title"] = "Assignment";
    Layout = "~/Pages/Shared/_SubLayout.cshtml";
    ViewData["SideBar-Title"] = "Assignment";
}
@section HeadScripts
{
    <link rel="stylesheet" href="/materialize-admin/app-assets/vendors/select2/select2.min.css" type="text/css">
    <link rel="stylesheet" href="/materialize-admin/app-assets/vendors/select2/select2-materialize.css" type="text/css">
    <link rel="stylesheet" type="text/css" href="/materialize-admin/app-assets/css/pages/form-select2.min.css">

    <!-- BEGIN PAGE DATA TABLE-->
    <!-- BEGIN: Page Level CSS-->
    <link rel="stylesheet" type="text/css" href="/materialize-admin/app-assets/css/pages/app-todo.min.css">
    <!-- END: Page Level CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="/materialize-admin/app-assets/css/custom/custom.css">
    <!-- END: Custom CSS-->

    <link rel="stylesheet" type="text/css" href="/scss/Admin/Submission/Assignment/AssignmentIndex.min.css">

}
@section FooterScripts{
    <script src="/materialize-admin/app-assets/vendors/select2/select2.full.min.js"></script>

    <script src="/materialize-admin/app-assets/js/scripts/form-select2.min.js"></script>

    <!-- BEGIN DATATABLE JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script src="/materialize-admin/app-assets/vendors/select2/select2.full.min.js"></script>
    <!-- END PAGE VENDOR JS-->
    <!-- BEGIN THEME  JS-->
    <script src="/materialize-admin/app-assets/js/plugins.min.js"></script>
    <script src="/materialize-admin/app-assets/js/search.min.js"></script>
    <script src="/materialize-admin/app-assets/js/scripts/customizer.min.js"></script>
    <!-- END THEME  JS-->
    <!-- BEGIN PAGE LEVEL JS-->
    <script src="/materialize-admin/app-assets/js/scripts/app-todo.min.js"></script>
    <!-- END PAGE LEVEL JS-->

    <script src="/js/Admin/Submission/Assignment/index-Assignment.js"></script>
    <script>

        var indexAssignment = new indexAssignment();
        indexAssignment.initialize();


    </script>
}

<form id="assignment" action="/api/submissions/StoryFileAssignment">
    <div class="row">
        <div class="input-field col s3">
            <select class="select2 browser-default" id="staff-select-box" name="staffSelect" class="validate">
            </select>
        </div>
        <div class="error-Text col s9" style="height: 63px;">
            <span style="display: block; padding-top: 30px;"> Staff is required</span>
        </div>
    </div>

    <div class="row as-content">
        <div>
            <div class="col s12 mb-1" id="selectAll">
                <p>
                    <label>
                        <input type="checkbox" class="form-control" id="all" />
                        <span class=""></span>
                    </label>
                </p>
            </div>
        </div>
        @foreach (var file in Model.Submission.SubmittedFiles)
        {
            <div class="form-group">
                <div class="col s12">
                    <p>
                        <label>
                            <input type="checkbox" class="singleCheckbox form-control checkbox-form" data-file-id="@file.Id" name="checkbox" />
                            <span class="as-Title">@file.Title</span>
                        </label>
                    </p>
                </div>
                <div class="col s12">
                    <div class="as-Description">
                        <input class="input-description" type="text" value="@file.Description" readonly>
                        @*@file.Description*@
                    </div>
                </div>
                <div class="col s12">
                    <div class="pd-left-20">
                        <div class="input-field col s12 ">
                            <textarea id="textarea_@file.Id" class="materialize-textarea form-control note-form" name="note"></textarea>
                            <label for="textarea_@file.Id">Note</label>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="row">
        <div class="col s12 as-center">

            <button class="btn waves-effect waves-light green mb-1" type="submit">
                Send
                <i class="material-icons left">email</i>
            </button>
        </div>
    </div>
</form>