@page
<div class="modal fade show" id="myModal" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Confirm action</h4>
                <button type="button" class="close">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <p>This is the modal content!</p>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn" >Cancel</button>
                <button type="button" class="btn btn-danger" >Delete</button>
            </div>

        </div>
    </div>
</div>