@inherits LayoutComponentBase

<div class="page">
    <div class="pt-1 pb-0" id="breadcrumbs-wrapper">
        <div class="container">
            <div class="top-row px-4">
                <img src="images/logo-sm.png" class="logo" />  <div class="app-title"></div> 
            </div>

            @Body
        </div>
    </div>
</div>